# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
logs/*.log
pids/
*.pid
*.seed
*.pid.lock

# Environment variables
.env

# Data files (if you want to exclude them from Git)
data/menu.json
data/orders.json
data/customers.json

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
*.swn

# Build files
dist/
